
body{
    background: linear-gradient(45deg, azure,aliceblue,beige);
}

#filter_btn{
    cursor: pointer;
    padding:18px
}

.vid_thums{
    margin:6px 0;
}

#filter_btn h3{
    display: flex;
    background-color:;
}
.filter-sec{
    margin-bottom:0;
    position: absolute;
    top:-1000px;
    transition: 0.5s;
}
.filter-sec.active{
    top:0;
    position: relative;
    transition: 0.5s;
}

.filter-sec .col-lg-2{
    margin:0 auto;
}
.vid_thumbainl video{
    width:100%;
    position: absolute;
    top:0;
    left:0;
    z-index:1;
}
.vid_thumbainl .img{
    position: relative;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    z-index: 2;
    transform: scale(100%);
    overflow: hidden;
}
.vid_thumbainl .watch_later{
    z-index: 5;
}
.vid_thumbainl .vid-time{
    z-index: 5;

}
.vidz_sec .videoo{
    transition: 0.3s;
    overflow:hidden;
    z-index: 2;
    
}


.vidz_sec .videoo:hover{
    background: #fff;
    padding:10px;
    border-radius: 2px;
    --webkit-backdrop-filter: blur(25px);
    box-shadow:0 0px 5px rgba(255, 255, 255, 0.5);
    transition:transform 0.3s ease,opacity 0.4 ease;
    transform: scale(125%);
    border: 1px solid rgba(0,0,0,0.1);
    opacity: 2;
    z-index:999;
    overflow: auto;

}


.vidz_sec .videoo:hover .vid_thumbainl video{
    z-index: 3;
}
.video_info h3{
    font-size: 14px;
}
.filter label{
    cursor:pointer;
    font-size: 14px;
    color:rgb(0, 1, 20);
}
.filter input{
    visibility: hidden;
    display: none;
}
@media (max-width: 1450px){

    .search_form .form {
        width: 100%;
        margin: 0;
    }
}
.search_form .form {
    position: relative;
    max-width: 540px;
    margin: 0 auto;
}



:root {
    --size: 60px;
    --frames: 62;
  }
  

.shr input {
    display: none ;
}

.shr .like {
    width: 60px;
    height: 60px;;
    cursor: pointer;
    border-radius: 999px;
    overflow: visible;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shr .hearth {
    position: relative;
    background-image: url('hearth.svg');
    background-size: calc(var(--size) * var(--frames)) var(--size);
    background-repeat: no-repeat;
    background-position-x: calc(var(--size) * (var(--frames) * -1 + 2));
    background-position-y: calc(var(--size) * 0.02);
    width: var(--size);
    height: var(--size);
  }
  

.shr i {
    position: relative;
    font-size: 23px;
    color: #959ea5;
    font-weight: 600;
   
  }
.shr.history i {
    position: relative;
    font-size: 23px;
    color: #959ea5;
    font-weight: 600;
    transform: rotate(0deg);
   
  }
  
  .shr.favourite input:checked + .hearth {
      animation: like 1s steps(calc(var(--frames) - 3));  
      animation-fill-mode: forwards;
    }
  .shr.purchased input:checked + i ,
  .shr.watch_later input:checked + i {
      color:#E0245E
    }
  .shr.history input:checked + i {
      color:#E0245E;
      animation: history 10s infinite;
    }
    
    @keyframes like {
        0% {
            background-position-x: 0;
        }
        100% {
            background-position-x: calc(var(--size) * (var(--frames) * -1 + 3));
        }
    }
  
    @media (hover: hover) {
        .shr .like:hover.like:hover {
            background-color: #E1255E15;
        }
        .shr.favourite .like:hover .hearth {
            background-position-x: calc(var(--size) * (var(--frames) * -1 + 1));
        }
        .shr.watch_later .like:hover i,
        .shr.purchased .like:hover i{
        color:#E0245E
     }
        .shr.shr.history .like:hover i{
        color:#E0245E;
        animation: history 10s infinite;

     }
  }
  
  @keyframes history {
        0%{
            transform: rotate(0deg);
        }
        20%{
            transform: rotate(0deg);
        }
        50%{
            transform: rotate(180deg);
        }
        70%{
            transform: rotate(180deg);
        }
        100%{
            transform: rotate(360deg);
        }
  }
.filter-sec .filter input:checked + label{
    color:#E0245E;
}